/* CARD */
.admin-card {
  border: .2px solid #2c2c2c;
  border-radius: 16px;
  background-color: #0f0f0f;
  transition: all 0.3s ease;
}

.admin-card:hover {
  border-color: #3a3a3a;
}

/* ICON */
.icon-muted {
  font-size: 20px;
  color: #666;
}

/* BREAKDOWN */
.breakdown-list span {
  font-size: 14px;
}

/* TABS */
.admin-tabs {
  border: .2px solid #2c2c2c;
  border-radius: 10px;
  overflow: hidden;
  background-color: #0f0f0f;
}

.tab {
  flex: 1;
  padding: 12px;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab:hover {
  background-color: #1a1a1a;
  color: white;
}

.tab.active {
  background-color: #1a1a1a;
  color: white;
}

/* SEARCH */
.admin-search {
  background-color: #1a1a1a;
  border: .5px solid #2c2c2c;
  color: white;
  border-radius: 8px;
  width: 250px;
}

.admin-search:focus {
  border-color: #878787;
  box-shadow: 0 0 0 3px #585858;
}

/* USER ITEM */
.user-item {
  border: .2px solid #2c2c2c;
  border-radius: 12px;
  background-color: #0a0a0a;
  transition: all 0.3s ease;
}

.user-item:hover {
  background-color: #151515;
}

/* STATUS BADGE */
.status-badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.active-status {
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  color: white;
}

.admin-status {
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  color: #4da3ff;
}

.inactive-status {
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  color: #ff5c5c;
}

.pending-status {
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  color: #ff5c5c;
}

.reviewed-status {
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  color: #4da3ff;
}

.resolved-status {
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  color: #00c853;
}

.action-btn {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #2c2c2c;
  background-color: #111;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-btn:hover {
  background-color: #1a1a1a;
}

.action-btn.danger {
  color: #ff5c5c;
}

.action-btn.success {
  color: #00c853;
}

.action-btn.delete {
  border-color: #3a1a1a;
}


