@if (
commentState() &&
(
commentState()?.visible ||
isAdmin() ||
commentState()?.myComment
)
)
{
<div class="d-flex flex-column gap-3">

  <div class="comment d-flex justify-content-start align-items-start gap-2">

    <img [src]="commentState()?.user?.profileImage 
        ? 'http://localhost:8080' + commentState()?.user?.profileImage 
        : '/profile.png'" class="c-image">

    <div class="custom-border p-3 d-flex flex-column gap-2 w-100">

      <div class="d-flex justify-content-between">

        <div role="button" class="d-flex gap-2 align-items-center" (click)="toProfile(commentState()!.user.id)">

          <span class="fw-bold">
            {{ commentState()?.user?.firstName }}
            {{ commentState()?.user?.lastName }}
          </span>

          <span class="text-secondary">
            @{{ commentState()?.user?.username }}
          </span>

          <span class="text-secondary">
            {{ timeAgo(commentState()!.commentedAt) }}
          </span>

          @if (!commentState()?.visible) {
          <span class="hidden-comment-badge">
            hidden
          </span>
          }


        </div>

        <button mat-icon-button class="c-border text-white" [matMenuTriggerFor]="commentMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #commentMenu="matMenu">

          @if (commentState()?.myComment) {

          <button mat-menu-item (click)="openEditPopup()">
            <mat-icon>edit</mat-icon>
            <span>Update Comment</span>
          </button>

          <button mat-menu-item (click)="openDeletePopup()">
            <mat-icon>delete</mat-icon>
            <span>Delete Comment</span>
          </button>

          }

          @else if (isAdmin()) {

          @if (commentState()?.visible) {
          <button mat-menu-item (click)="adminHideComment()">
            <mat-icon color="warn">visibility_off</mat-icon>
            <span>Hide Comment</span>
          </button>
          } @else {
          <button mat-menu-item (click)="adminRestoreComment()">
            <mat-icon color="primary">visibility</mat-icon>
            <span>Restore Comment</span>
          </button>
          }

          }

          @else if (isPostOwner()) {

          <button mat-menu-item (click)="openDeletePopup()">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete Comment</span>
          </button>

          }

          <!-- NORMAL USER -->
          @else {

          <button mat-menu-item (click)="reportComment()">
            <mat-icon color="warn">flag</mat-icon>
            <span>Report Comment</span>
          </button>

          }

        </mat-menu>


      </div>

      <p class="m-0 text-break">
        {{ commentState()?.content }}
      </p>

    </div>
  </div>
</div>

@if (showDeletePopup()) {
<div class="popup-backdrop">

  <div class="popup-container bg-black p-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="fw-bold">Delete Comment</h3>
      <mat-icon role="button" (click)="closeDeletePopup()">close</mat-icon>
    </div>

    <p class="text-secondary mb-4">
      Are you sure you want to delete this comment? This action cannot be undone.
    </p>

    <div class="d-flex justify-content-end gap-3">
      <button class="custom-button-1 px-3 py-1" (click)="closeDeletePopup()">
        Cancel
      </button>

      <button class="custom-button px-3 py-1 bg-danger fw-bold text-white" (click)="confirmDelete()">
        Delete
      </button>
    </div>

  </div>

</div>
}

@if(showEditPopup()) {
<div class="popup-backdrop">

  <div class="popup-container bg-black p-4">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="fw-bold">Edit Comment</h3>
      <mat-icon role="button" (click)="closeEditPopup()">close</mat-icon>
    </div>

    <form class="d-flex flex-column gap-3" (ngSubmit)="editComment()">

      <input class="custom-input" type="text" placeholder="First name" [(ngModel)]="editForm.content"
        name="firstName" />


      <div class="d-flex justify-content-end gap-3 mt-3">
        <button type="button" class="custom-button-1 fw-bold px-3 py-1" (click)="closeEditPopup()">
          Cancel
        </button>
        <button type="submit" class="custom-button px-3 fw-bold">
          Save
        </button>
      </div>

    </form>
  </div>

</div>

}


}