<main class="bg-black p-5 cc">
    <div class="d-flex justify-content-between align-items-start">
        <h2 class="fw-bold mb-3">Report</h2>
        <div role="button" class="fw-bold c-border px-2 py-1">X</div>
    </div>

    <p class="text-secondary mb-3">
        Reporting: <strong>{{ data.subjectLabel }}</strong>
    </p>

    <div class="d-flex flex-column gap-2">

        <label class="fw-bold">Reason</label>
        <input type="text" class="form-control" placeholder="Spam, abuse, hate..." [(ngModel)]="reason">

        <label class="fw-bold mt-2">Description</label>
        <textarea class="form-control" rows="4" placeholder="Give more details" [(ngModel)]="description">
  </textarea>

    </div>

    <div class="d-flex justify-content-end gap-2 mt-4">
        <button class="btn btn-secondary fw-bold" (click)="cancel()">
            Cancel
        </button>

        <button class="btn btn-danger fw-bold" [disabled]="!reason || !description" (click)="submit()">
            Report
        </button>
    </div>

</main>