.login-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 24px;
}

.title {
    text-align: center;
    font-weight: bolder;
}

.login-card {
    background-color: black;
    border: .5px solid rgb(33, 33, 33);
    border-radius: 12px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0px;
    margin-bottom: 32px;
    margin-top: 10px;
}

.subtitle {
    display: block;
    text-align: center;
    margin: 0;
    font-weight: bolder;
}

.card-title>p {
    color: darkgray;
    font-size: 15px;
    font-weight: normal;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

label {
    font-weight: bold;
    font-size: 15px;
}

.next-btn {
    margin-top: 4px;
    padding: 10px 24px;
    border-radius: 8px;
    border: white;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.error-alert {
    text-align: center;
    color: red;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    margin-top: 5px;
    text-align: center;
}

.footer>p {
    color: darkgray;
    font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.submit-btn {
    margin-top: 4px;
    padding: 10px 12px;
    border-radius: 8px;
    border: white;
    font-weight: bold;
    width: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.back-btn {
    margin-top: 4px;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: .5px solid darkgray;
    font-weight: bold;
    width: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.back-btn:hover {
    background-color: rgb(69, 69, 69);
}

.submit-btn:hover {
    background-color: rgb(184, 184, 184);
}

.progress-wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 1px;
}

.progress-bar {
    height: 6px;
    flex: 1;
    max-width: 24px;
    border-radius: 9999px;
    border: .5px solid white;
    background-color: #000000;
    transition: background-color 0.3s ease;
}

.progress-bar.active {
    background-color: #ffffff;
}

.file-input {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.image-preview {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image-preview img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: .3px solid #383838;
}

.btn-remove {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
}

.form-group textarea {
    min-height: 120px;
    padding: 12px 14px;
    border-radius: 8px;
    border: .5px solid #2c2c2c;
    font-size: 14px;
    resize: vertical;
    outline: none;
    transition: all 0.3s ease;
    color: #ffffff;
    background-color: #1a1a1a;
}

/* Focus effect */
.form-group textarea:focus {
    border: 1px solid #878787;
    box-shadow: 0 0 0 3px #585858;
}

/* Placeholder style */
.form-group textarea::placeholder {
    color: #ffffff;
}


/* responsive (sm breakpoint ≈ 640px) */
@media (min-width: 640px) {
    .progress-wrapper {
        gap: 0.5rem;
    }

    .progress-bar {
        height: 8px;
        /* sm:h-2 */
        max-width: 32px;
        /* sm:max-w-8 */
    }
}