<main class="admin-bg min-vh-100 py-5 px-4">

  <!-- HEADER -->
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h4 class="fw-bold text-white d-flex align-items-center gap-2">
      <mat-icon>shield</mat-icon>
      01Blog Admin
    </h4>

    <span class="admin-badge">Administrator</span>
  </div>

  <!-- TABS -->
  <div class="tabs-container mb-4 d-flex">
    <a routerLink="/admin" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }" class="tab-btn">
      Dashboard
    </a>

    <a routerLink="/admin/users" routerLinkActive="active-tab" class="tab-btn">
      Users
    </a>

    <a routerLink="/admin/posts" routerLinkActive="active-tab" class="tab-btn">
      Posts
    </a>

    <a routerLink="/admin/reports" routerLinkActive="active-tab" class="tab-btn">
      Reports
    </a>
  </div>

  <!-- CHILD CONTENT -->
  <div class="content-box p-4">
    <router-outlet></router-outlet>
  </div>

</main>
