@if (currentUser()) {
<main class="d-flex justify-content-start align-items-start gap-5 px-custom">
  <section id="first_part" class="d-flex flex-column justify-content-start gap-3 w-25">
    <div id="user_infos"
      class="d-flex flex-column justify-content-start align-items-between gap-5 custom1 bg-black px-5 py-3">
      <div id="profile_and_names" class="d-flex justify-content-start align-items-center gap-3">
        <div id="profile_image" class="d-flex justify-content-start">
          <img [src]="currentUser()?.profileImage 
          ? 'http://localhost:8080' + currentUser()?.profileImage 
          : '/profile.png'" alt="profile" class="custom_image">
        </div>
        <div id="names" class="d-flex flex-column justify-content-start align-items-start">
          <p class="fw-bold fs-5 p-0 m-0">{{ currentUser()?.firstName }} {{ currentUser()?.lastName }}</p>
          <span class="text-secondary p-0 m-0">@{{ currentUser()?.username }}</span>
        </div>
      </div>
      <div id="user_numbers" class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_posts }}</p>
          <span class="text-secondary small">Posts</span>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_followers }}</p>
          <span class="text-secondary small">Followers</span>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_following }}</p>
          <span class="text-secondary small">Following</span>
        </div>
      </div>
    </div>

    <div id="user_interactions"
      class="d-flex flex-column justify-content-start align-items-between gap-5 custom1 bg-black px-5 py-3">
      <h2 class="p-0 m-0">in this part</h2>
      <h2 class="p-0 m-0">we will do an</h2>
      <h2 class="p-0 m-0">an algo for</h2>
      <h2 class="p-0 m-0">fetching the </h2>
      <h2 class="p-0 m-0">most interacted</h2>
    </div>
  </section>

  <section id="second_part"
    class="w-75 d-flex flex-column justify-content-start px-5 gap-3 feed">
    <h2 class="fw-bold">Your Feed</h2>
    <!-- START OF TESTING -->
    <div id="post_card" class="p-4 d-flex flex-column bg-black gap-4 custom1">
      <div id="image_and_name" class="d-flex gap-2 align-items-center">
        <div id="image">
          <img src="/profile.png" class="custom_image">
        </div>

        <div id="names_ and_time">
          <p class="fw-bold p-0 m-0">Hamza Elkhawlani</p>
          <div class="d-flex gap-3">
            <span class="text-secondary p-0 m-0">@heeemzaaa</span>
            <span class="text-secondary  p-0 m-0">1 hour ago</span>
          </div>
        </div>
      </div>

      <div id="title_and_content" class="d-flex flex-column gap-3">
        <h3 class="fw-bold">This is the title of this post !</h3>
        <p class="fs-6">My complete fullstack development journey! From initial setup to deployment. Here are snapshots
          of my project evolution - starting from basic HTML/CSS, through React components, to the final dashboard UI.
          Each image shows a milestone in my learning path. Incredibly proud of how far I've come in just 3 months!</p>
      </div>

      <div id="images" class="d-flex flex-column gap-2">
        <div>
          <img src="/profile.png" class="c_image chosen">
        </div>
        <div id="all_images" class="d-flex gap-2">
          <img src="/profile.png" class="c_image chosen_one">
          <img src="/profile.png" class="c_image">
          <img src="/profile.png" class="c_image">
          <img src="/profile.png" class="c_image">
        </div>
      </div>

      <div id="reactions" class="d-flex gap-5">
        <div class="d-flex align-items-center gap-1">
          <button mat-icon-button (click)="toggleLike()" class="bg-black c-border">
            <mat-icon [class.liked]="isLiked" class="custom-heart  d-flex align-items-center justify-content-center">
              {{ isLiked ? 'favorite' : 'favorite_border' }}
            </mat-icon>
          </button>
          <span class="fw-bold fs-5 text-center">251</span>
        </div>

        <div class="d-flex align-items-center gap-1">
          <button mat-icon-button class="bg-black c-border align-items-center">
            <mat-icon class="custom-comment d-flex align-items-center justify-content-center">
              chat_bubble_outline
            </mat-icon>
          </button>
          <span class="fw-bold fs-5 text-center">24</span>
        </div>

      </div>
    </div>




    <div id="post_card" class="p-4 d-flex flex-column bg-black gap-4 custom1">
      <div id="image_and_name" class="d-flex gap-2 align-items-center">
        <div id="image">
          <img src="/profile.png" class="custom_image">
        </div>

        <div id="names_ and_time">
          <p class="fw-bold p-0 m-0">Hamza Elkhawlani</p>
          <div class="d-flex gap-3">
            <span class="text-secondary p-0 m-0">@heeemzaaa</span>
            <span class="text-secondary  p-0 m-0">1 hour ago</span>
          </div>
        </div>
      </div>

      <div id="title_and_content" class="d-flex flex-column gap-3">
        <h3 class="fw-bold">This is the title of this post !</h3>
        <p class="fs-6">My complete fullstack development journey! From initial setup to deployment. Here are snapshots
          of my project evolution - starting from basic HTML/CSS, through React components, to the final dashboard UI.
          Each image shows a milestone in my learning path. Incredibly proud of how far I've come in just 3 months!</p>
      </div>

      <div id="images" class="d-flex flex-column gap-2">
        <div>
          <img src="/profile.png" class="c_image chosen">
        </div>
        <div id="all_images" class="d-flex gap-2">
          <img src="/profile.png" class="c_image chosen_one">
          <img src="/profile.png" class="c_image">
          <img src="/profile.png" class="c_image">
          <img src="/profile.png" class="c_image">
        </div>
      </div>

      <div id="reactions" class="d-flex gap-5">
        <div class="d-flex align-items-center gap-1">
          <button mat-icon-button (click)="toggleLike()" class="bg-black c-border">
            <mat-icon [class.liked]="isLiked" class="custom-heart  d-flex align-items-center justify-content-center">
              {{ isLiked ? 'favorite' : 'favorite_border' }}
            </mat-icon>
          </button>
          <span class="fw-bold fs-5 text-center">251</span>
        </div>

        <div class="d-flex align-items-center gap-1">
          <button mat-icon-button class="bg-black c-border align-items-center">
            <mat-icon class="custom-comment d-flex align-items-center justify-content-center">
              chat_bubble_outline
            </mat-icon>
          </button>
          <span class="fw-bold fs-5 text-center">24</span>
        </div>

      </div>
    </div>
    <!-- END OF TESTING -->
  </section>

</main>
} @else {
<div class="loading">Loading user infos...</div>
}