@if (currentUser()) {
<main class="d-flex justify-content-start align-items-start gap-5 px-custom">
  <section id="first_part" class="d-flex flex-column justify-content-start gap-3 w-25">
    <div id="user_infos"
      class="d-flex flex-column justify-content-start align-items-between gap-5 custom1 bg-black px-5 py-3">
      <div id="profile_and_names" class="d-flex justify-content-start align-items-center gap-3">
        <div id="profile_image" class="d-flex justify-content-start">
          <img [src]="currentUser()?.profileImage 
          ? 'http://localhost:8080' + currentUser()?.profileImage 
          : '/profile.png'" alt="profile" class="custom_image">
        </div>
        <div id="names" class="d-flex flex-column justify-content-start align-items-start">
          <p class="fw-bold fs-5 p-0 m-0">{{ currentUser()?.firstName }} {{ currentUser()?.lastName }}</p>
          <span class="text-secondary p-0 m-0">@{{ currentUser()?.username }}</span>
        </div>
      </div>
      <div id="user_numbers" class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_posts }}</p>
          <span class="text-secondary small">Posts</span>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_followers }}</p>
          <span class="text-secondary small">Followers</span>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_following }}</p>
          <span class="text-secondary small">Following</span>
        </div>
      </div>
    </div>

    <div id="user_interactions"
      class="d-flex flex-column justify-content-start align-items-between gap-5 custom1 bg-black px-5 py-3">
      <h2 class="p-0 m-0">in this part</h2>
      <h2 class="p-0 m-0">we will do an</h2>
      <h2 class="p-0 m-0">an algo for</h2>
      <h2 class="p-0 m-0">fetching the </h2>
      <h2 class="p-0 m-0">most interacted</h2>
    </div>
  </section>

  <section id="second_part" class="w-75 d-flex flex-column justify-content-start px-5 gap-3 feed">
    <h2 class="fw-bold">Your Feed</h2>
    @if (posts().length > 0) {
      @for (post of posts(); track post.id) {
      <app-post [post]="post" />
      }
    } @else {
      <div class="d-flex justify-content-center align-items-center border border-1 border-white">
        <p class="text-center text-secondary p-0 m-0">No posts from your connection !</p>
      </div>
    }
  </section>

</main>
} @else {
<div class="loading">Loading user infos...</div>
}