<nav class="c-border custom-h d-flex justify-content-between align-items-center px-c bg-black mb-4">

  <div class="d-flex gap-5 align-items-center">
    <h2 class="fw-bolder" role="button" (click)="toHome()">01Blog</h2>
    <div style="position: relative;">

      <input type="search" class="form-control custom-input" placeholder="Search posts, users..."
        [formControl]="searchControl" (focus)="showDropdown.set(true)" />

      @if (showDropdown()) {
      <div class="search-live-dropdown">

        <!-- Loading -->
        @if (loading()) {
        <div class="p-3 text-secondary">Searching...</div>
        }

        <!-- No Results -->
        @if (!loading()
        && searchResults()
        && searchResults()?.users?.content?.length === 0
        && searchResults()?.posts?.content?.length === 0) {

        <div class="p-3 text-secondary">No results found.</div>
        }

        <!-- Users -->
        @if (searchResults()?.users?.content?.length > 0) {
        <div class="p-2">
          <small class="text-secondary">Users</small>

          @for (user of searchResults()?.users?.content; track user.id) {
          <div class="dropdown-item" [routerLink]="['/profile', user.id]" (click)="showDropdown.set(false)">

            @{{ user.username }}
          </div>
          }
        </div>
        }

        <!-- Posts -->
        @if (searchResults()?.posts?.content?.length > 0) {
        <div class="p-2 border-top">
          <small class="text-secondary">Posts</small>

          @for (post of searchResults()?.posts?.content; track post.id) {
          <div class="dropdown-item" [routerLink]="['/post', post.id]" (click)="showDropdown.set(false)">

            {{ post.title }}
          </div>
          }
        </div>
        }

      </div>
      }

    </div>

  </div>

  <div class="d-flex gap-4 align-items-center profile-menu-wrapper">
    <mat-icon class="c-icon" (click)="toNotifications()">notifications</mat-icon>

    <button role="button" class="c-button px-4 py-2 rounded fw-bold" (click)="toAddPost()">
      + New Post
    </button>

    <img [src]="currentUser()?.profileImage 
      ? 'http://localhost:8080' + currentUser()?.profileImage 
      : '/profile.png'" alt="profile" class="c-image clickable" (click)="toggleMenuOpen()" />

    @if (isMenuOpen()) {
    <div class="profile-dropdown d-flex flex-column px-4 py-3 gap-2">
      <div id="user_info" class="d-flex gap-2 justify-content-center align-items-center custom-border pb-2">
        <img [src]="currentUser()?.profileImage 
        ? 'http://localhost:8080' + currentUser()?.profileImage 
        : '/profile.png'" alt="profile" class="c-image" />
        <div class="d-flex flex-column">
          <p class="fw-bold small p-0 m-0">{{ currentUser()?.firstName }} {{ currentUser()?.lastName }}</p>
          <span class="text-secondary p-0 m-0">@{{ currentUser()?.username }}</span>
        </div>
      </div>
      <div id="buttons">
        <div class="custom-border">
          <button class="dropdown-item" [routerLink]="['profile', currentUser()?.id]">
            Profile
          </button>
          <button class="dropdown-item" routerLink="/profile">
            Settings
          </button>
        </div>
        <button class="dropdown-item logout gap-5 d-flex" (click)="logout()">
          Logout
          <mat-icon class="d-flex justify-content-center align-items-center">logout</mat-icon>
        </button>
      </div>
    </div>
    }
  </div>
</nav>