<main class="p-5 d-flex flex-column justify-content-center align-items-center gap-5 feed">
    <section id="user_details" class="d-flex flex-column p-5 bg-black gap-3 w-50 custom-border">
        <div class="d-flex flex-column custom-padding">
            <div class="d-flex gap-3 align-items-center">
                <div>
                    <h2 class="fw-bolder">{{ currentUser()?.firstName }} {{ currentUser()?.lastName }}</h2>
                </div>
                <div>
                    <button class="custom-button px-3 py-1 fw-bold">+ Follow</button>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div role="button" class="c-b d-flex justify-content-center bg-black fw-bold text-white h-25 p-1">
                        <mat-icon>more_horiz</mat-icon>
                    </div>
                </div>
            </div>
            <span class="text-secondary p-0 m-0">@ {{ currentUser()?.username }}</span>
        </div>

        <div class="d-flex align-items-center gap-4">
            <img [src]="currentUser()?.profileImage 
            ? 'http://localhost:8080' + currentUser()?.profileImage 
            : '/profile.png'" alt="profile" class="custom-image" />
            <!-- <p class="text-primary fs-5">{{ currentUser()?.about }}</p> -->
            <p>this user doesn't have a Bio, if you wanna know more about him try to contact him !</p>
        </div>

        <div class="d-flex gap-5 custom-padding">
            <div>
                <span class="fw-bold">Contact user:</span> <span class="text-secondary">
                    hamzaelkhawlani00@gmail.com</span>
            </div>
            <span class="text-secondary">Morroco</span>
        </div>
        <div id="user_numbers" class="d-flex justify-content-between px-6">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_posts }}</p>
                <span class="text-secondary small">Posts</span>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_followers }}</p>
                <span class="text-secondary small">Followers</span>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_following }}</p>
                <span class="text-secondary small">Following</span>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="fw-bold fs-4 p-0 m-0">{{ currentUser()?.nbr_of_following }}</p>
                <span class="text-secondary small">Likes Received</span>
            </div>
        </div>
    </section>

    <section id="posts_of_user" class="w-50">
        <PostComponent />
    </section>
</main>