@if (canViewPost()) {

<div id="post_card" class="p-4 d-flex flex-column bg-black gap-4 custom1 w-100">

    <div class="d-flex justify-content-between">
        <div role="button" id="image_and_name" class="d-flex gap-2 align-items-center"
            (click)="toProfile(postState()!.user.id)">
            <div id="image">
                <img [src]="postState()?.user?.profileImage 
                        ? 'http://localhost:8080' + postState()?.user?.profileImage 
                        : '/profile.png'" class="custom_image">
            </div>

            <div id="names_and_time">
                <p class="fw-bold p-0 m-0">
                    {{ postState()?.user?.firstName }} {{ postState()?.user?.lastName }}
                </p>
                <div class="d-flex gap-3">
                    <span class="text-secondary">@{{ postState()?.user?.username }}</span>
                    <span class="text-secondary">
                        {{timeAgo(postState()!.createdAt)}}
                    </span>
                </div>
            </div>
        </div>

        <button mat-icon-button class="bg-black c-border text-white" [matMenuTriggerFor]="postMenu">
            <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #postMenu="matMenu" panelClass="post-menu-panel">

            <!-- OWNER -->
            @if (postState()?.myPost) {

            <button mat-menu-item (click)="openEditPopup()">
                <mat-icon>edit</mat-icon>
                <span>Update Post</span>
            </button>

            <button mat-menu-item (click)="openDeletePopup()">
                <mat-icon>delete</mat-icon>
                <span>Delete Post</span>
            </button>

            }

            <!-- ADMIN -->
            @if (!postState()?.myPost && isAdmin()) {

            @if(postState()?.visible) {
            <button mat-menu-item (click)="adminHidePost()">
                <mat-icon>visibility_off</mat-icon>
                <span>Hide Post</span>
            </button>
            } @else {
            <button mat-menu-item (click)="adminRestorePost()">
                <mat-icon>visibility_on</mat-icon>
                <span>Restore Post</span>
            </button>
            }

            <button mat-menu-item (click)="openDeletePopup()">
                <mat-icon>delete</mat-icon>
                <span>Delete Post</span>
            </button>

            }

            <!-- NORMAL USER -->
            @if (!postState()?.myPost && !isAdmin()) {

            <button mat-menu-item (click)="reportPost()">
                <mat-icon color="warn">flag</mat-icon>
                <span>Report Post</span>
            </button>

            }

        </mat-menu>

    </div>

    @if (!postState()?.visible && (isAdmin() || postState()?.myPost)) {
    <div class="hidden-badge mb-3">
        This post is hidden
    </div>
    }

    <div id="title_and_content" class="d-flex flex-column gap-3">
        <h3 class="fw-bold text-break">{{ postState()?.title }}</h3>
        <p class="fs-6 text-break">{{ postState()?.content }}</p>
    </div>

    <!-- MEDIA -->
    @if (postState()?.medias && postState()?.medias!.length > 0) {
    <div id="images" class="d-flex flex-column gap-2">

        <div>
            @if (isImage(mainMedia())) {
            <img [src]="'http://localhost:8080' + mainMedia()!.filePath" class="c_image chosen" />
            }

            @if (isVideo(mainMedia())) {
            <video class="c_image chosen" controls [src]="'http://localhost:8080' + mainMedia()!.filePath">
            </video>
            }
        </div>

        @if (postState()?.medias!.length > 1) {
        <div id="all_images" class="d-flex gap-2">
            @for (media of postState()?.medias; track media.id) {

            @if (isImage(media)) {
            <img [src]="'http://localhost:8080' + media.filePath" class="c_image"
                [class.chosen_one]="media === mainMedia()" (click)="selectMedia(media)" />
            }

            @if (isVideo(media)) {
            <video class="c_image" muted preload="metadata" [class.chosen_one]="media === mainMedia()"
                (click)="selectMedia(media)">
                <source [src]="'http://localhost:8080' + media.filePath" />
            </video>
            }

            }
        </div>
        }
    </div>
    }

    <!-- REACTIONS -->
    <div id="reactions" class="d-flex gap-5">

        <div class="d-flex align-items-center gap-1">
            <button mat-icon-button [disabled]="!postState()?.visible" (click)="toggleLike()" class="bg-black c-border">
                <mat-icon [class.liked]="postState()?.liked" class="custom-heart">
                    {{ postState()?.liked ? 'favorite' : 'favorite_border' }}
                </mat-icon>
            </button>
            <span class="fw-bold fs-5">
                {{ postState()?.likesCount }}
            </span>
        </div>

        <div role="button" class="d-flex align-items-center gap-1" [class.disabled-reaction]="!postState()?.visible"
            [routerLink]="postState()?.visible ? ['/post', postState()?.id] : null">

            <button mat-icon-button class="bg-black c-border">
                <mat-icon class="custom-comment">chat_bubble_outline</mat-icon>
            </button>

            <span class="fw-bold fs-5">
                {{ postState()?.commentsCount }}
            </span>
        </div>

    </div>
</div>



@if (showDeletePopup()) {
<div class="popup-backdrop">

    <div class="popup-container bg-black custom-border p-4">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="fw-bold">Delete Post</h3>
            <mat-icon role="button" (click)="closeDeletePopup()">close</mat-icon>
        </div>

        <p class="text-secondary mb-4">
            Are you sure you want to delete this post? This action cannot be undone.
        </p>

        <div class="d-flex justify-content-end gap-3">
            <button class="custom-button-1 px-3 py-1" (click)="closeDeletePopup()">
                Cancel
            </button>

            <button class="custom-button px-3 py-1 bg-danger fw-bold text-white" (click)="confirmDelete()">
                Delete
            </button>
        </div>

    </div>

</div>
}

}