html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

input {
  background-color: #1a1a1a;
  border: .5px solid #2c2c2c;
  color: white;
  padding-left: 10px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border: 1px solid #878787;
  box-shadow: 0 0 0 3px #585858;
}

.c-border {
  border: .2px solid #2c2c2c;
  border-radius: 10px;
  background-color: #000000;
}

