<main class="w-100 d-flex flex-column justify-content-center align-items-center">

    <section class="w-50 d-flex flex-column justify-content-center">
        @if (post()) {
        <app-post [post]="post()!" [showActions]="false">
        </app-post>
        }
    </section>

    <section class="d-flex flex-column justify-content-start c-border p-4 gap-4 w-50 mb-5">
        <h3 class="fw-bold mb-3">
            Comments
        </h3>

        @if (comments() && comments()!.length > 0) {
        @for (comment of comments(); track comment.id) {
        <app-comment [comment]="comment" />
        }
        } @else {
        <p class="fs-5 text-white text-center">There is no comments in this post !</p>
        }



        <div class="add-comment d-flex gap-2">
            <img src="/profile.png" alt="user-profile" class="c-image">
            <input type="text" placeholder="Write a comment..." class="w-100 pe-4"
                (input)="onCommentChange($any($event.target).value)"
                [value]="commentRequest().content" />
            <button class="bg-white fw-bold text-black c-border px-3 py-1" (click)="addComment()">
                Comment
            </button>
        </div>
    </section>


</main>