<main class="w-100 d-flex flex-column justify-content-center align-items-center">

    <section class="w-50 d-flex flex-column justify-content-center align-items-center">
        @if (post()) {
        <app-post [post]="post()!" [showActions]="false">
        </app-post>
        }
    </section>
    <section class="comments-section border-top pt-3">

        <h5 class="fw-bold mb-3">
            Comments
        </h5>

        <!-- Add comment -->
        <div class="add-comment d-flex gap-2 mb-4">
            <input type="text" class="form-control" placeholder="Write a comment..." />
            <button class="btn btn-dark">
                Post
            </button>
        </div>

        <!-- Comments list -->
        <div class="comment-list d-flex flex-column gap-3">

            <div class="comment">
                <strong>username</strong>
                <p class="mb-0">This is a comment</p>
            </div>

            <div class="comment">
                <strong>another_user</strong>
                <p class="mb-0">Another comment here</p>
            </div>

        </div>

    </section>

</main>